<div id="contenedor">
    <div class='container bg-light p-4 my-2 mx-auto'>
        <h1 class='text-primary'>Hasta luego {{usuario}}</h1>
    </div>
</div>
<script>
    setTimeout(function () {
        // after 2 seconds
        window.location.assign("/login");
    }, 2000)
</script>